bioimageio.spec @ git+https://github.com/bioimage-io/spec-bioimage-io@19105665ad779014e03c7b311c0b4003ab08f752  # TODO: chenage to released version
bioimageio.core @ git+https://github.com/bioimage-io/core-bioimage-io-python@3a7875b5debc2d52b2fc87f6579afe217e1c7280  # TODO: chenage to released version
black==24.2.0
loguru==0.7.2
minio==7.2.3
packaging==23.2
pdoc==14.4.0
pyright==1.1.351
pytest==8.0.0
ruyaml==0.91.0
spdx-license-list==3.22
typer==0.9.0
