name: Test and Docs
on:
  push:
  workflow_call:

concurrency: docs

jobs:
  run:
    runs-on: ubuntu-latest
    environment: testing
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: ./.github/actions/max_disk_space
      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
      - uses: actions/setup-python@v6
        with:
          cache: 'pip'
          cache-dependency-path: pyproject.toml
      - run: pip install -e .[dev]
      - run: ruff check
      - run: pyright -p pyproject.toml
      - run: pytest --cov=backoffice --cov-report=html:htmlcov
        env:
          RUN_URL: ${{github.server_url}}/${{github.repository}}/actions/runs/${{github.run_id}}
          BIOIMAGEIO_USER_ID: github|${{github.actor_id}}
          HYPHA_API_TOKEN: ${{secrets.HYPHA_API_TOKEN}}
      - run: pip install -e .[docs]
      - uses: actions/checkout@v4
        name: checkout index and reports for docs generation
        with:
          ref: gh-pages
          path: gh-pages
          sparse-checkout: |
            reports
            index.json
      - name: Generate reports overview for docs
        run: python scripts/generate_compatibility_overview.py
        env:
          REPORTS: gh-pages/reports
          RUN_URL: ${{github.server_url}}/${{github.repository}}/actions/runs/${{github.run_id}}
          HYPHA_API_TOKEN: ${{secrets.HYPHA_API_TOKEN}}
      - run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_OUTPUT
        id: cache-id
      - uses: actions/cache@v4
        with:
          key: mkdocs-material-${{ steps.cache-id.outputs.cache_id }}
          path: ~/.cache
          restore-keys: |
            mkdocs-material-
      - name: create local gh-pages branch
        run: git branch gh-pages origin/gh-pages
      - run: mike deploy ${{ github.ref == 'refs/heads/main' && '--push' || ' ' }} --update-aliases 0.1 latest
        env:
          RUN_URL: ${{github.server_url}}/${{github.repository}}/actions/runs/${{github.run_id}}
          BIOIMAGEIO_USER_ID: github|${{github.actor_id}}
          HYPHA_API_TOKEN: ${{secrets.HYPHA_API_TOKEN}}
          REPORTS: gh-pages/reports
