name: check compatibility biapy

concurrency: biapy

on:
  workflow_call:
jobs:
  run:
    runs-on: ubuntu-latest
    environment: 'production'
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: "3.10"
        cache: "pip" # caching pip dependencies
    - name: Installing BiaPy dependencies
      run: pip install biapy
    - name: Installing Pytorch
      run: pip install torch==2.4.0 torchvision==0.19.0 torchaudio==2.4.0 --index-url https://download.pytorch.org/whl/cpu
    - name: Installing last packages that rely on the Pytorch installation
      run: pip install timm torchmetrics[image] pytorch-msssim
    - name: Install backoffice
      run: pip install .
    - run: python scripts/check_compatibility_biapy.py
      env:
        RUN_URL: ${{github.server_url}}/${{github.repository}}/actions/runs/${{github.run_id}}
    - name: Upload biapy reports
      uses: actions/upload-artifact@v4
      with:
        name: reports-biapy
        path: reports
