name: request changes call

on:
  workflow_call:
    inputs:
      concept_id:
        description: "Bioimageio ID of the resource - to be used to access the resource on S3"
        required: true
        type: string
      stage_number:
        description: stage number
        required: true
        type: number
      reviewer:
        description: GitHub account name of bioimage.io maintainer requesting changes
        required: false
        default: 'github|${{github.actor_id}}'
        type: string
      reason:
        description: Why are changes required? What needs changing?
        required: true
        type: string
      environment_name:
        required: true
        type: string

concurrency: ${{inputs.concept_id}}-call


jobs:
  request-changes:
    runs-on: ubuntu-latest
    environment: ${{inputs.environment_name}}
    steps:
      - name: reject reviewer id
        run: exit 1
        if: github.actor != 'bioimageiobot' && 'github|${{github.actor_id}}' != inputs.reviewer
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: "pip" # caching pip dependencies
      - run: pip install .
      - run: backoffice request_changes "${{ inputs.concept_id }}" --reviewer "${{ inputs.reviewer }}" --reason "${{ inputs.reason }}"
        env:
          S3_HOST: ${{vars.S3_HOST}}
          S3_BUCKET: ${{vars.S3_BUCKET}}
          S3_FOLDER: ${{vars.S3_FOLDER}}
          ZENODO_URL: ${{vars.ZENODO_URL}}
          S3_ACCESS_KEY_ID: ${{secrets.S3_ACCESS_KEY_ID}}
          S3_SECRET_ACCESS_KEY: ${{secrets.S3_SECRET_ACCESS_KEY}}
          ZENODO_API_ACCESS_TOKEN: ${{secrets.ZENODO_API_ACCESS_TOKEN}}
          MAIL_PASSWORD: ${{secrets.MAIL_PASSWORD}}
          RUN_URL: ${{github.server_url}}/${{github.repository}}/actions/runs/${{github.run_id}}
