name: stage call

on:
  workflow_call:
    inputs:
      concept_id:
        description: "Bioimage.io resource concept"
        required: false
        type: string
        default: ''
      package_url:
        description: "Download URL of the resource package zip-file"
        required: true
        type: string
      environment_name:
        required: true
        type: string
      bioimageio_user_id:
        required: false
        type: string
        default: ''

    outputs:
      cocnept_id:
        description: "Bioimage.io resource concept (may have been generated if inputs.concept_id was empty)"
        value:  ${{jobs.run.outputs.concept_id}}

concurrency: ${{inputs.environment_name}}-${{inputs.concept_id}}-${{inputs.package_url}}-call

jobs:
  run:
    runs-on: ubuntu-latest
    environment: ${{inputs.environment_name}}
    outputs:
      concept_id: ${{steps.stage.outputs.concept_id}}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: "pip" # caching pip dependencies
      - run: pip install .
      - id: stage
        run: backoffice stage "${{ inputs.concept_id }}" "${{inputs.package_url }}"
        env:
          S3_HOST: ${{ vars.S3_HOST }}
          S3_BUCKET: ${{ vars.S3_BUCKET }}
          S3_FOLDER: ${{ vars.S3_FOLDER }}
          S3_ACCESS_KEY_ID: ${{secrets.S3_ACCESS_KEY_ID}}
          S3_SECRET_ACCESS_KEY: ${{secrets.S3_SECRET_ACCESS_KEY}}
          MAIL_PASSWORD: ${{secrets.MAIL_PASSWORD}}
          RUN_URL: ${{github.server_url}}/${{github.repository}}/actions/runs/${{github.run_id}}
          BIOIMAGEIO_USER_ID: ${{inputs.bioimageio_user_id || format('github|{0}', github.actor_id)}}

